header > h1 {
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
}
#Netflix{
 font-style: italic;
 color:red ;
 text-transform: uppercase;
}
.card-title{
    text-align: center;
}